@{
    ViewData["Title"] = "Home Home Page";
}

<div class="text-center" style="background:#f3f3f3;">
    <h1 class="display-8">Welcome Bro</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="https://www.linkedin.com/in/piotr-glueshen-ab9328193" target="_blank">or contact me</a> any time.</p>










</div>
